<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<dom-module id="game-view">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>Game view </div>
    <canvas id="grid" width="360px" height="180px"></canvas>
    <paper-input label="Player" value="{{user::change}}"></paper-input>
    <paper-input label="Handle" value="{{handle::change}}"></paper-input>
    <paper-button raised on-tap="onRegister">Register</paper-button>
    <paper-input label="Go To X" value="{{move_x::change}}"></paper-input>
    <paper-input label="Go To Y" value="{{move_y::change}}"></paper-input>
    <paper-input label="Fire on X" value="{{fire_x::change}}"></paper-input>
    <paper-input label="Fire on Y" value="{{fire_y::change}}" ></paper-input>
    <paper-button raised on-tap="onActionReady">Ready</paper-button>
    <div>Registered Users</div>
    <iron-list items="[[users]]" as="item">
        <template>
          <div>
            Handle: [[item.handle]]
          </div>
        </template>
      </iron-list>
  </template>

  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'game-view',

      properties: {

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        client: {
          type:Object,
        },
        user: {
          type: String,
          value: "Michael"
        },
        users: {
          type: Array,
          notify: true,
          value: function() { return []; }
        },
        moveList: {
          type: Array,
          notify: true,
          value: function() { return []; }
        },
        handle: {
          type: String,
          value: "Banana"
        },
        move_x: {
          type: Number,
          notify: true,
          value: 8
        },
        move_y: {
          type: Number,
          notify: true,
          value: 8
        },
        at_x: {
          type: Number,
          notify: true,
          value: function() { return this.getRandomInt(0,36); }
        },
        at_y: {
          type: Number,
          notify: true,
          value: function() { return this.getRandomInt(0,18); }
        },
        fire_x: {
          type: Number,
          notify: true,
          value: 8
        },
        fire_y: {
          type: Number,
          notify: true,
          value: 8
        },
        damage: {
          type: Number,
          notify: true,
          value: 100
        },
        status: {
          type: String,
          notify: true,
          value: ": At Plant"
        },
        clock: {
          type: String,
          value: ": 8:23 am"
        },
        isServer: {
          type: Boolean,
          value: false
        } 

      },
      onRegister: function() {
          var data = {};
          data.name = this.user;
          data.handle = this.handle;
        this.client.publish("register/user",JSON.stringify(data));
      },
     ready: function () {
          this.drawBoard();
     },
     created: function() {
        this.client = mqtt.connect("ws://192.168.81.89:61614"); // you add a ws:// url here
        this.client.subscribe("nav/#");
        this.client.subscribe("move/#");
        this.client.subscribe("moved/#");
        this.client.subscribe("register/#");
      
        
        var self = this;
        this.client.on("message", function(topic, payload) {
            console.log([topic, payload].join(": "));
            if (topic == "register/user") {
              self.gotRegister(JSON.parse(payload));
            } else if (topic == "move") {
              self.move(JSON.parse(payload));
            } else if (topic == "moved/" + this.handle ) {
              self.moved(JSON.parse(payload));
            }
        });

        this.client.publish("nav/card/menu", "hello world world!");
      },
      gotRegister:function (payload) {
        console.log("registered...."+payload.handle);
        this.push('users', payload);
      },
      onActionReady:function(){
        var payload = {"handle":this.handle,"move_x":this.move_x,"move_y":this.move_y,"fire_x":this.fire_x,"fire_y":this.fire_y,"at_x":this.at_x,"at_y":this.at_y,"damage":this.damage};
          this.client.publish("move", JSON.stringify(payload));
      },
      move:function(payload) {
        console.log("someone is moving");   
        if (this.isServer) {
          //collect moves until == # players
          this.moveList.push(payload);
          if(this.moveList.length == this.users.length){
            moveList.forEach(this.doMove);
            movelist.forEach(this.doFire);
            moveList.forEach(this.doUpdate);
          }
          //clear move list
          this.moveList = [];
        }
      },
      moved: function(payload){

         this.at_x = payload.at_x;
         this.at_y = payload.at_y;
         this.damage = payload.damage;
      },
      doMove:function(move){
          if ( move.move_x > 35) move.move_x = 35;
          if ( move.move_y > 17) move.move_x = 17;
          if ( move.move_x < 0) move.move_x = 0;
          if ( move.move_y < 0) move.move_x = 0;
          var dx = move.move_x - move.at_x;
          var dy = move.move_y - move.at_y;
          if (dx >10) dx = 10;
          if (dy >10) dy = 10;
          if (dx < -10) dx = -10;
          if (dy <-10) dy = -10;
          dx = (dx>3)?3+this.getRandomInt(0,dx-2):dx;
          dy = (dy>3)?3+this.getRandomInt(0,dy-2):dy;

          move.at_x = ( move.at_x + dx ) % 36;
          move.at_y = ( move.at_y + dy ) % 18;
          if (move.at_x < 0) move.at_x += 36;
          if (move.at_y < 0) move.at_x += 18;
      },
      doFire:function(shot){
        for(target in moveList){
          var dX = Math.abs(shot.fire_x - target.at_x) % 36 ;
          var dY = Math.abs(shot.fire_y - target.at_y) % 18;
          if( dX <= 2 ){ //check x
            if( dY <= 2 ){ //check y
              //We got one!
              target.damage -= 20 - ( Math.sqrt((dX * dX) + (dY*dY)) * 5 ); 
            }
          }
        }
      },
      doUpdate(move) {
        var payload = {"at_x":move.at_x,"at_y":move.at_y,"damage":move.damage};
        this.client.publish("moved/" + move.handle, JSON.stringify(payload));
      },
      drawBoard() {
        var canvas = this.$.grid;
        var context = canvas.getContext('2d');

        var width = canvas.width,
            height = canvas.height;
        context.moveTo(5, 3);
        context.lineTo(5, 7);
        context.moveTo(3, 5);
        context.lineTo(7, 5);
        context.stroke();
        var h=10,
            p=10;

        for (var i = 0; i < width; i ++) {
            context.drawImage(canvas, p*i, 0);
        }
        for(var i = 0; i < height; i++) {
            context.drawImage(canvas, 0, h*i);
        }
      },
      getRandomInt: function (min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }
    });
  })();
  </script>
</dom-module>
