<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="game-view/game-view.html">

<link rel="import" href="my-icons.html">

<dom-module id="main-app">

  <template>

    <style>

      :host {
        display: block;
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
      }

      app-header {
        background-color: var(--app-primary-color);
        color: #fff;
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        line-height: 40px;
        text-decoration: none;
        color: var(--app-secondary-color);
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .drawer-list a.subroute {
        padding-left: 32px;
      }


    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed>

      <!-- Drawer content -->
      <app-drawer>
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="game" href="/game">Game View</a>
          <a name="card" href="/card">Cards</a>
          <a name="login" href="/login">Login</a>
          <a name="status" href="/status">Status</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header condenses reveals shadow>

          <app-toolbar>
            <paper-icon-button icon="app:menu" drawer-toggle=""></paper-icon-button>
            <div title>TrackitMobile [[user]] [[status]] [[clock]]</div>
          </app-toolbar>
          <app-toolbar></app-toolbar>
          <app-toolbar>
            <div title>[[user]] [[status]] [[clock]]</div>
          </app-toolbar>

        </app-header>

        <iron-pages role="main" selected="[[page]]" attr-for-selected="name">
          <game-view name="game"></game-view>
          <login-view name="login"></login-view>
          <card-view name="card"></card-view>
          <status-view name="status"></status-view>
        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>

  </template>

  <script>

    Polymer({

      is: 'main-app',

      properties: {

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        client: {
          type:Object
        },
        user: {
          type: String,
          value: "Michael"
        },
        status: {
          type: String,
          value: ": At Plant"
        },
        clock: {
          type: String,
          value: ": 8:23 am"
        }

      },

      observers: [
        '_routePageChanged(routeData.page)'
      ],

      _routePageChanged: function(page) {
        this.page = page || 'game';
      },

      _pageChanged: function(page) {
        // load page import on demand.
        this.importHref(
          this.resolveUrl(page + '-view/' +  page + '-view.html'), null, null, true);
      },
      created: function() {
        // client = mqtt.connect("ws://localhost:61614"); // you add a ws:// url here
        // client.subscribe("nav/#");

        // client.on("message", function(topic, payload) {
        //     console.log([topic, payload].join(": "));
        // });

        // client.publish("nav/card/menu", "hello world world!");
      }

    });

  </script>

</dom-module>
